<a href="https://colab.research.google.com/github/N0Namesir/Int_p3_dataset/blob/main/Copia_de_Actividad_Integradora.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [94]:
#Importar las librerías con las que trabajaremos
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [95]:
#Importar el archivo csv con el que trabajaremos
url = "https://raw.githubusercontent.com/N0Namesir/Int_p3_dataset/main/Sales.csv"
df_bikes = pd.read_csv(url)

In [96]:
#Realizar una copia del DataFrame en el que trabajaremos
bikes_sales= df_bikes.copy()

In [97]:
#Guardar una copia de seguridad para comparaciones posteriores
df_backup= bikes_sales.copy()

In [98]:
#Limpieza y procesamiento de datos
#1.Cargar los datos del DataFrame, df_bikes
print("\nDataFrame de ventas de bicicletas en una tienda Europea (primeras filas):\n", bikes_sales.head())#Muestra las primeras filas del Dataframe

DataFrame de ventas de bicicletas en una tienda Europea (primeras filas):
          Date  Day     Month  Year  Customer_Age       Age_Group  \
0  2013-11-26   26  November  2013            19     Youth (<25)
1  2015-11-26   26  November  2015            19     Youth (<25)
2  2014-03-23   23     March  2014            49  Adults (35-64)
3  2016-03-23   23     March  2016            49  Adults (35-64)
4  2014-05-15   15       May  2014            47  Adults (35-64)

  Customer_Gender    Country             State Product_Category Sub_Category  \
0               M     Canada  British Columbia      Accessories   Bike Racks
1               M     Canada  British Columbia      Accessories   Bike Racks
2               M  Australia   New South Wales      Accessories   Bike Racks
3               M  Australia   New South Wales      Accessories   Bike Racks
4               F  Australia   New South Wales      Accessories   Bike Racks

               Product  Order_Quantity  Unit_Cost  Unit_Price  Profit  Cost  \
0  Hitch Rack - 4-Bike               8         45         120     590   360
1  Hitch Rack - 4-Bike               8         45         120     590   360
2  Hitch Rack - 4-Bike              23         45         120    1366  1035
3  Hitch Rack - 4-Bike              20         45         120    1188   900
4  Hitch Rack - 4-Bike               4         45         120     238   180

   Revenue
0      950
1      950
2     2401
3     2088
4      418

In [99]:
#Resume las columnas del DataFrame y sus tipos de datos
bikes_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  object
 1   Day               113036 non-null  int64
 2   Month             113036 non-null  object
 3   Year              113036 non-null  int64
 4   Customer_Age      113036 non-null  int64
 5   Age_Group         113036 non-null  object
 6   Customer_Gender   113036 non-null  object
 7   Country           113036 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113036 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113036 non-null  object
 12  Order_Quantity    113036 non-null  int64
 13  Unit_Cost         113036 non-null  int64
 14  Unit_Price        113036 non-null  int64
 15  Profit            113036 non-null  int64
 16  Cost              113036 non-null  int64
 17  Revenue           113036 non-null  int64
dtypes: int64(9), object(9)
memory usage: 15.5+ MB

In [100]:
#2.Eliminar columnas innecesarias para el análisis de datos
bikes_sales = bikes_sales.drop(columns=['Day', 'Month', 'Year'])  #Especifica el nombre de la columna a eliminar en el DataFrame, bikes_sales

In [101]:
#Comprobar que las columnas innecesarias han sido eliminadas exitosamente
bikes_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  object
 1   Customer_Age      113036 non-null  int64
 2   Age_Group         113036 non-null  object
 3   Customer_Gender   113036 non-null  object
 4   Country           113036 non-null  object
 5   State             113036 non-null  object
 6   Product_Category  113036 non-null  object
 7   Sub_Category      113036 non-null  object
 8   Product           113036 non-null  object
 9   Order_Quantity    113036 non-null  int64
 10  Unit_Cost         113036 non-null  int64
 11  Unit_Price        113036 non-null  int64
 12  Profit            113036 non-null  int64
 13  Cost              113036 non-null  int64
 14  Revenue           113036 non-null  int64
dtypes: int64(7), object(8)
memory usage: 12.9+ MB

In [102]:
#3.Manejar valores nulos o faltantes en el DataFrame
bikes_sales.isnull().sum()

Date                0
Customer_Age        0
Age_Group           0
Customer_Gender     0
Country             0
State               0
Product_Category    0
Sub_Category        0
Product             0
Order_Quantity      0
Unit_Cost           0
Unit_Price          0
Profit              0
Cost                0
Revenue             0
dtype: int64

In [103]:
#Buscar registros duplicados en el DataFrame
duplicados= bikes_sales.duplicated()
print("Registros duplicados encontrados:", duplicados.sum())

Registros duplicados encontrados: 1000

In [104]:
#Eliminar registros duplicados
df_clean = bikes_sales.drop_duplicates()

In [105]:
#Confirmar si se eliminaron los registros duplicados
print("Duplicados en el original:", df_backup.duplicated().sum())  # Debe mostrar 1,000
print("Registro con duplicados eliminados:", df_clean.duplicated().sum())

Duplicados en el original: 1000
Registro con duplicados eliminados: 0

In [106]:
#5.Corregir Formatos
#Corregir tipos de datos de las columnas
#Corregir Date con tipo de dato "object" a "datetime"
df_clean['Date'] = pd.to_datetime(df_clean['Date'], format='%Y-%m-%d', errors='coerce')

#Corregir Age_Group, Customer_Gender, Country, State, Producto_Category, Sub_Category, Product, con tipo de dato "Object" a "category"
categorical_cols = ['Age_Group', 'Customer_Gender', 'Country', 'State',
                   'Product_Category', 'Sub_Category', 'Product']
df_clean[categorical_cols] = df_clean[categorical_cols].astype('category')

# Enteros pequeños a int16/int32 (si los valores lo permiten), para ocupar menos memoria
int_cols = ['Customer_Age', 'Order_Quantity']
df_clean[int_cols] = df_clean[int_cols].astype('int16')

# Convertir columnas monetarias a float32 (para decimales futuros)
money_cols = ['Unit_Cost', 'Unit_Price', 'Profit', 'Cost', 'Revenue']
df_clean[money_cols] = df_clean[money_cols].astype('float32')

/tmp/ipython-input-106-145477204.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Date'] = pd.to_datetime(df_clean['Date'], format='%Y-%m-%d', errors='coerce')
/tmp/ipython-input-106-145477204.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean[categorical_cols] = df_clean[categorical_cols].astype('category')
/tmp/ipython-input-106-145477204.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean[int_cols] = df_clean[int_cols].astype('int16')
/tmp/ipython-input-106-145477204.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean[money_cols] = df_clean[money_cols].astype('float32')

In [107]:
#Comprobar los cambios en los tipos de datos
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112036 entries, 0 to 113035
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              112036 non-null  datetime64[ns]
 1   Customer_Age      112036 non-null  int16
 2   Age_Group         112036 non-null  category
 3   Customer_Gender   112036 non-null  category
 4   Country           112036 non-null  category
 5   State             112036 non-null  category
 6   Product_Category  112036 non-null  category
 7   Sub_Category      112036 non-null  category
 8   Product           112036 non-null  category
 9   Order_Quantity    112036 non-null  int16
 10  Unit_Cost         112036 non-null  float32
 11  Unit_Price        112036 non-null  float32
 12  Profit            112036 non-null  float32
 13  Cost              112036 non-null  float32
 14  Revenue           112036 non-null  float32
dtypes: category(7), datetime64[ns](1), float32(5), int16(2)
memory usage: 5.1 MB

In [108]:
#Normalizar textos
text_cols = ['Customer_Gender', 'Country', 'State', 'Product_Category', 'Sub_Category', 'Product']#Selecciona las columnas a modificar
df_clean[text_cols] = df_clean[text_cols].apply(lambda x: x.str.strip().str.title())#Elimina espacione en blanco al inicio y al final, y convierte la primera letra de cada palabra a mayúscula
                                                                                          #Evita inconsistencias en los datos

/tmp/ipython-input-108-2875843374.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean[text_cols] = df_clean[text_cols].apply(lambda x: x.str.strip().str.title())#Elimina espacione en blanco al inicio y al final, y convierte la primera letra de cada palabra a mayúscula

In [109]:
#Comprobar los cambios en el formato de los textos
df_clean.head()

,Date,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45.0,120.0,590.0,360.0,950.0
1,2015-11-26,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45.0,120.0,590.0,360.0,950.0
2,2014-03-23,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45.0,120.0,1366.0,1035.0,2401.0
3,2016-03-23,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45.0,120.0,1188.0,900.0,2088.0
4,2014-05-15,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45.0,120.0,238.0,180.0,418.0

In [110]:
#6. Guardar el DataFrame limpio en un nuevo archivo csv
from google.colab import files
df_clean.to_csv('datos_limpios.csv', index=False)
#files.download('datos_limpios.csv') Descarga automática
#6.Importar el nuevo archivo csv con los datos limpios
url = "https://raw.githubusercontent.com/N0Namesir/Int_p3_dataset/main/datos_limpios.csv"

In [111]:
#Desde ahora se va a hacer referencia al archivo que contiene el DataFrame con los datos limpios como "df_clean", para cuando hagan la parte de estadística descriptiva.

In [121]:
  # comienza la estadistica descriptiva
desc_stats = df_clean.describe().round(2)
print(f'Estadísticas descriptivas básicas:\n{desc_stats}')

Estadísticas descriptivas básicas:
                                Date  Customer_Age  Order_Quantity  Unit_Cost  \
count                         112036     112036.00       112036.00  112036.00
mean   2014-11-23 05:22:32.008282880         35.92           11.90     267.82
min              2011-01-01 00:00:00         17.00            1.00       1.00
25%              2013-12-22 00:00:00         28.00            2.00       2.00
50%              2014-06-27 00:00:00         35.00           10.00       9.00
75%              2016-01-09 00:00:00         43.00           20.00      42.00
max              2016-07-31 00:00:00         87.00           32.00    2171.00
std                              NaN         11.02            9.56     550.24

       Unit_Price     Profit       Cost    Revenue  Profit_Margin_%
count   112036.00  112036.00  112036.00  112036.00        112036.00
mean       453.85     286.04     471.10     757.14            47.21
min          2.00     -30.00       1.00       2.00            -3.70
25%          5.00      29.00      28.00      64.00            35.71
50%         25.00     103.00     112.00     226.00            52.63
75%         70.00     360.00     442.00     806.00            59.68
max       3578.00   15096.00   42978.00   58074.00            75.00
std        922.99     454.88     886.99    1312.04            16.39

In [117]:
#media, mediana, desviacion pero solo con datos numericos
mean = df_clean.mean(numeric_only=True).round(2)
print(f'Media:\n{mean} \n')

medi = df_clean.median(numeric_only=True).round(2)
print(f'Mediana:\n{medi} \n')

dvc_stand = df_clean.std(numeric_only=True).round(2)
print(f'Desviación estándar:\n{dvc_stand} \n')

Media:
Customer_Age        35.92
Order_Quantity      11.90
Unit_Cost          267.82
Unit_Price         453.85
Profit             286.04
Cost               471.10
Revenue            757.14
Profit_Margin_%     47.21
dtype: float64

Mediana:
Customer_Age        35.00
Order_Quantity      10.00
Unit_Cost            9.00
Unit_Price          25.00
Profit             103.00
Cost               112.00
Revenue            226.00
Profit_Margin_%     52.63
dtype: float64

Desviación estándar:
Customer_Age         11.02
Order_Quantity        9.56
Unit_Cost           550.24
Unit_Price          922.99
Profit              454.88
Cost                886.99
Revenue            1312.04
Profit_Margin_%      16.39
dtype: float64

In [116]:
grupo_categorico = df_clean.groupby('Product_Category').agg({
    'Revenue': ['sum', 'mean', 'median', 'std'],
    'Profit': ['sum', 'mean', 'median', 'std'],
    'Order_Quantity': ['sum', 'mean', 'median', 'std']
})

# fromatear para que tengan dos decimales
print('Estadísticas descriptivas por categoría de producto:')
print(grupo_categorico.to_string(formatters={col: '{:.2f}'.format for col in grupo_categorico.columns}))
print('\n')

Estadísticas descriptivas por categoría de producto:
                     Revenue                              Profit                      Order_Quantity
                         sum    mean  median     std         sum   mean median    std            sum  mean median  std
Product_Category
Accessories      15022766.00  216.74   98.00  271.73  8807194.00 127.07  57.00 162.24     1042791.00 15.04  15.00 8.72
Bikes            61434484.00 2381.74 2018.00 1852.60 20399726.00 790.87 630.00 665.63       36201.00  1.40   1.00 0.71
Clothing          8369522.00  494.36  288.00  758.42  2839319.00 167.71  70.00 283.87      254713.00 15.05  15.00 8.67

In [115]:
# creando una columna
# Crear nuevas columnas: margen de ganancia (%) y año de la venta
df_clean = df_clean.copy() # crear una copia explicita para convertir
df_clean['Profit_Margin_%'] = (df_clean['Profit'] / df_clean['Revenue']) * 100
df_clean['Profit_Margin_%'] = df_clean['Profit_Margin_%'].astype(float).round(2)


# Mostrar las primeras filas con las nuevas columnas
df_clean[['Date', 'Revenue', 'Profit', 'Profit_Margin_%']].head()

        Date  Revenue  Profit  Profit_Margin_%
0 2013-11-26    950.0   590.0            62.11
1 2015-11-26    950.0   590.0            62.11
2 2014-03-23   2401.0  1366.0            56.89
3 2016-03-23   2088.0  1188.0            56.90
4 2014-05-15    418.0   238.0            56.94